@model IEnumerable<YeneMercha.Models.Election>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table  table-bordered table-responsive table-hover">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Stop Date</th>
        <th>Catagory</th>
        <th>Action</th>
    </tr>
    @foreach (var v in Model)
    {
        <tr>
            <td>@v.title</td>
            <td>@v.description</td>
            <td>@v.start_date</td>
            <td>@v.stop_date</td>
            <td>@v.Catagory.name</td>
            <td>
                @Html.ActionLink("Details", "ElectionDetails", new { id = v.Id })
                @Html.ActionLink("Edit", "EditElection", new { id = v.Id })
                @Html.ActionLink("Delete", "DeleteElection", new { id = v.Id })
                @Html.ActionLink("Add Candidate", "AddCandidate", new { id = v.Id })
            </td>
        </tr>

    }
</table>
<div>
    @Html.ActionLink("Add Election", "AddElection")
</div>
